
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @cocktail.image_url %>);">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="details">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="doses">
        <ul class="list-unstyled">
          <h3>Ingredients</h3>
          <% @cocktail.doses.each do |dose| %>
          <li><%= dose.ingredient.name  + " - " + dose.description %> <%= link_to "Delete", dose_path(dose), method: :delete, data: {confrim: "Sure?"} %></li>
          <% end %>

        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">

      <div class="form show-form">

        <h2>Add a dose</h2>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, class:"form-control" %>
        <%= f.association :ingredient, class: 'select2' %>
        <%= f.submit "Add the dose!", class:"btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
